<!-- Config file for the game -->

<config>
  <app framerate_cap = "30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1600" height="900" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <levels>
      <level_1  id = "level1.tmx" />
      <level_2  id = "level2.tmx"/>
    </levels>
  </scene> 
    
  <player>
    <file folder = "animations.xml"/>    
  </player>
  <enemies>
    <file folder = "animations.xml"/>
  </enemies>
      

</config>